<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.AddressMapper">
	<!-- 插入收货地址 -->
	<!-- Integer insert(Address address) -->
	<insert id="insert" parameterType="cn.tedu.store.entity.Address"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_address(
		uid,
		recv_name,
		recv_province,
		recv_city,
		recv_area,
		recv_district,
		recv_address,
		recv_phone,
		recv_tel,
		recv_zip,
		recv_tag,
		is_default,
		created_time,
		created_user,
		modified_time,
		modified_user
		) VALUES(
		#{uid},
		#{recvName},
		#{recvProvince},
		#{recvCity},
		#{recvArea},
		#{recvDistrict},
		#{recvAddress},
		#{recvPhone},
		#{recvTel},
		#{recvZip},
		#{recvTag},
		#{isDefault},
		#{createdTime},
		#{createdUser},
		#{modifiedTime},
		#{modifiedUser}
		)
	</insert>


	<!-- 获取某用户的收货地址数据的数量 -->
	<!-- Integer getCountByUid(Integer uid) -->
	<select id="getCountByUid" resultType="java.lang.Integer">
		SELECT count(id)
		FROM
		t_address
		WHERE uid=#{uid}
	</select>
	<!-- 获取用户数据的数组 -->
	<!-- List<Address> getListByuid(Integer uid) -->
	<select id="getListByuid" resultMap="classMap">
		SELECT
		id,recv_tag,
		recv_phone,
		recv_district,
		recv_address,
		recv_name,
		recv_province AS recvProvince,
		recv_city AS recvCity,
		recv_area AS recvArea,
		recv_zip AS recvZip,
		is_default AS isDefault
		FROM t_address
		WHERE uid=#{uid}
		ORDER BY
		is_default DESC,id DESC
	</select>
	<resultMap id="classMap" type="cn.tedu.store.entity.Address">
		<id column="id" property="id"></id>
		<result column="recv_tag" property="recvTag"></result>
		<result column="recv_phone" property="recvPhone"></result>
		<result column="recv_district" property="recvDistrict"></result>
		<result column="recv_address" property="recvAddress"></result>
		<result column="recv_name" property="recvName"></result>
	</resultMap>
	<!-- 删除用户地址 -->
	<!-- Integer deleteAddress(Integer id) -->
	<delete id="deleteAddress">
		DELETE FROM
		t_address
		WHERE id=#{id}
	</delete>
	<!-- 更新用户收寄地址 -->
	<!-- Integer updateAddress(Address address) -->
	<update id="updateAddress" parameterType="cn.tedu.store.entity.Address">
	UPDATE t_address
	SET recv_name=#{recvName},
	recv_province=#{recvProvince},
	recv_city=#{recvCity},
	recv_area=#{recvArea},
	recv_district=#{recvDistrict},
	recv_address=#{recvAddress},
	recv_phone=#{recvPhone},
	recv_tel=#{recvTel},
	recv_zip=#{recvZip},
	recv_tag=#{recvTag},
	is_default=#{isDefault},
	modified_time=#{modifiedTime},
	modified_user=#{modifiedUser}
	WHERE
	id=#{id}
	</update>
	<!-- 获取用户数据的数组 -->
	<!-- Address getAddressById(Integer id) -->
	 <select id="getAddressById" resultType="cn.tedu.store.entity.Address">
		SELECT
		id,
		uid,
		recv_tag AS recvTag,
		recv_phone AS recvPhone,
		recv_district AS recvDistrict,
		recv_address AS recvAddress,
		recv_name AS recvName,
		recv_province AS recvProvince,
		recv_city AS recvCity,
		recv_area AS recvArea,
		recv_zip AS  recvZip
		FROM t_address
		WHERE id=#{id}
	</select> 
	<!--将某用户的所有收货地址设置为非默认收货地址-->
	<!-- Integer setNonDefault(Integer uid); -->
	<update id="setNonDefault">
	UPDATE t_address
	SET is_default=0
	WHERE uid=#{uid}	
	</update>
	<!--  	/**
	 * 将指定id的收货地址设置为默认收货地址
	 * @param id 收货地址数据id
	 * @return 受影响的行数
	 */Integer setDefault(Integer id);-->
	 <update id="setDefault">
	 UPDATE t_address
	 SET is_default=1
	 WHERE id=#{id}	 
	 </update>
    

</mapper>